* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px black solid;
}

.content {
  background-image: url(image.jpg);
  background-size: 100vw 100vh;
  color: white;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.open-btn {
  width: 40px;
  margin: 20px;
  display: block;
}

.menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: none;
  grid-template-rows: repeat(auto-fit, 1fr);
  z-index: 1;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  justify-items: center;
  background: linear-gradient(45deg, rgb(224, 118, 56), rgb(51, 5, 88));
}

.menu-item {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 20px 0px 20px 0px;
}

.exit-btn {
  width: 40px;
  margin: 20px;
}
