* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px black solid;
}

.content {
  background-color: rgb(55, 55, 206);
  color: white;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.open-btn {
  width: 40px;
  margin: 20px;
  display: none;
}

.menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  z-index: 1;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  justify-items: center;
}

.menu-item {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 20px 0px 20px 0px;
}

.exit-btn {
  width: 40px;
  margin: 20px;
}
